<%- include('../partials/header') %>

<h1>Dealers</h1>

<p>
  <a href="/dealers?sort=name">Name</a>
  <a href="/dealers?sort=location">Location</a>
</p>

<ul>
  <% dealers.forEach(dealer => { %>
    <li>
      <a href="/dealers/<%= dealer.slug %>"><%= dealer.name %></a>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>