<%- include('partials/header') %>

<main>

 
<h1><%= title %></h1>
    <p>Find high-quality used vehicles at affordable prices.</p>

    <img src="/images/homecar.jpg" alt="A selection of used cars" class="home-image">
    
    <div class="cta-buttons">
      <a href="/vehicles" class="btn-primary">Browse Vehicles</a>
    </div>


</main>

<%- include('partials/footer') %>
