<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Find the best cars at affordable prices.</p>
   <img src="images/homecar.jpg" alt="A selection of used cars" style="width:100%; height:auto;">
</main>
<%- include('partials/footer') %>