<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    

<div class="vehicle-list">

    <div class="vehicle-card">
      <img src="" alt="Car">
      <div class="vehicle-info">
        <h3>Toyota Corolla 2020</h3>
        <p>Reliable compact car</p>
        <p class="price">$12,000</p>
      </div>
    </div>

    <div class="vehicle-card">
      <img src="" alt="SUV">
      <div class="vehicle-info">
        <h3>Ford Explorer 2019</h3>
        <p>Spacious family SUV</p>
        <p class="price">$18,500</p>
      </div>
    </div>

  </div>

</main>
<%- include('partials/footer') %>